

<div class="info">
	<div class="container">
		<p>Wir wollen einen Neuanfang für Demokratie und Gerechtigkeit. Wenn wir es schaffen, 100.000 Unterschriften zu sammeln, dann treten wir zur Bundestagswahl 2017 an.</p>
		<a class="btn red" href="https://www.change.org/brauchtbewegung">Jetzt Unterschreiben</a>
		<a class="" href="http://bewegung.jetzt">Mehr über Demokratie in Bewegung</a>
	</div>
</div>

<footer class="container">
  <a href="http://bewegung.jetzt/impressum"> Impressum</a>
  Bilder original unter Creative Commons veröffentlicht durch <a href="https://www.flickr.com/photos/sozialdemokratie/">SPÖ</a>.
</footer>