<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Memerator || Demokratie in Bewegung, Bundestags Wahl 2017 Meme Generator</title>
  <link rel="stylesheet" type="text/css" href="/static/basics.css">
  <link rel="stylesheet" type="text/css" href="/static/memerator.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700|Rubik:400,400i,500,500i,700" rel="stylesheet"> 
</head>
<body>

<canvas id="canvas" width="980" height="640">
  
</canvas>

<h2>Vorlage</h2>

<img id="schulz_gabriel_01" src="/static/images/schulz_gabriel_01.png" onclick="javascript:refresh(this.id)" width="150"/>
<img id="schulz_gabriel_02" src="/static/images/schulz_gabriel_02.png" onclick="javascript:refresh(this.id)" width="150"/>
<img id="schulz_gabriel_03" src="/static/images/schulz_gabriel_03.png" onclick="javascript:refresh(this.id)" width="150"/>
<img id="alternativlos" src="/static/images/alternativlos.png" onclick="javascript:refresh(this.id)" width="150"/>

<br>
<input type="text" value="{{args.text|default:'Damit die Basis auch mal was zu tun hat'}}" onchange="javascript:refresh()"  id="text"  placeholder="Hier den Text eingeben" />

<button id="submitBtn" onclick="javascript:submit()">Share</button>



<div style="display: none">
  <form id="sender" enctype="multipart/form-data" action='/' method="POST">
    {% csrf_token %}
    {{form.as_table}}
  </form>
</div>

<script type="text/javascript">

  const configurations = {
    'alternativlos': {maxLength: 30, font: '32px Rubik', fillStyle: 'white', textAlign: 'center', pos: {x: 455, y: 250, w: 900}},
    'schulz_gabriel_01': {maxLength: 30, font: '40px Rubik', fillStyle: 'white', textAlign: 'left', pos: {x: 430, y: 425, w: 530}},
    'schulz_gabriel_02': {maxLength: 30, font: '40px Rubik', fillStyle: 'white', textAlign: 'left', pos: {x: 205, y: 390, w: 400}},
    'schulz_gabriel_03': {maxLength: 30, font: '40px Rubik', fillStyle: 'white', textAlign: 'left', pos: {x: 15, y: 315, w: 520}}
  };

  var currentConf = '{{args.tmpl|default:"schulz_gabriel_01"}}';

  function refresh(newConf) {
    if (newConf) {
      currentConf = newConf;
    } 
    const conf = configurations[currentConf];

    const canvas = document.querySelector('canvas');
    const ctx = canvas.getContext('2d');
    const item = document.getElementById(currentConf);
    const text = document.getElementById('text');

    ctx.clearRect(0, 0, canvas.width, canvas.height);
    ctx.font = conf.font;
    ctx.fillStyle = conf.fillStyle;
    ctx.textAlign = conf.textAlign;
    text.setAttribute('maxLength', conf.maxLength);

    // Draw slice
    ctx.drawImage(item, 0, 0, canvas.width, canvas.height);
    // refresh text
    ctx.fillText(text.value, conf.pos.x, conf.pos.y, conf.pos.w)
  }

  function submit() {
    const btn = document.getElementById('submitBtn');
    // TODO: disable button
    const fd = new FormData(document.querySelector('form'));
    const canvas = document.querySelector('canvas');
    var quality = 0.95;
    canvas.toBlob(function(blob){
        fd.set('template', currentConf);
        fd.set('text', document.getElementById('text').value);
        fd.set("image", blob, currentConf + ".jpg");

        var request = new XMLHttpRequest();

        request.onload = function(resp) {
          document.location.href = this.responseURL
        }

        request.open("POST", "/");
        request.send(fd);

    }, "image/jpeg", quality);
  }

  refresh();
</script>

<footer>
  Bilder original unter Creative Commons veröffentlicht durch <a href="https://www.flickr.com/photos/sozialdemokratie/">SPÖ</a>.
</footer>
</body>
</html>